  {% extends "Karamoja/base.html" %}
  {% block content %}
<div class="container">
<div class="row">
<div align="center">	
 <img src="/static/images/karamoja.jpg" width="499" height="692" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="391,489,430,650" href="/700/" alt="Amudat" />
  <area shape="circle" coords="331,576,55" href="/600/" alt="Nakapiripit" />
  <area shape="circle" coords="212,186,67" href="/500/" alt="Kaabong" />
  <area shape="circle" coords="347,386,45" href="/100/" alt="Moroto" />
  <area shape="circle" coords="115,375,52" href="/300/" alt="Abim" />
  <area shape="circle" coords="258,453,62" href="/200/" alt="Napak" />
  <area shape="circle" coords="208,308,47" href="/400/" alt="kotido" />
</map>
</div>
</div>
</div>
  {% endblock %}



