{% extends "Karamoja/base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
 <div style="clear: both;"></div>
 <div id="container">

    <div id="textHeader" align="center">
      <h2>DROUGHT BULLETIN {% if where %}{{ where.name }}{% endif %} {% if month %}{{ month.monthly }}{% endif %} {% if year %}{{ year.yearly }}{% endif %}</h2>       
    </div>


 <div>{% if imagemap %}<img src="{{imagemap.image.url}}"  style="height:auto; width: 40%; max-width:480px; max-height:544px;"/>{% else %}No Map available{% endif %}



 <div id="outPopUp">
  

 {% if pastoral  %}
     {% for zone in pastoral   %}
      <table id="inPopUp" >

      <tr>
       <td align="center"> <b>{{ zone.livelihoodzones.description }}</b>
       </td>
      </tr>
      <tr>
        <td align="center">
           
            {% if zone.phase.description == "Normal" %}
              <img src="/static/images/normal.jpg">
              {% endif %}
            {% if zone.phase.description  == "Alert" %}
              <img src="/static/images/alert.jpg">
              {% endif %}
            {% if zone.phase.description == "Alarm" %}
              <img src="/static/images/alarm.jpg">
              {% endif %}
            {% if zone.phase.description == "Emergency" %}
              <img src="/static/images/emergency.jpg">
               {% endif %}
            {% if zone.phase.description == "Not specified" %}
              No phase specified
              <b>No phase specified</b>
               {% endif %}  
        </td> 
       </tr>
       <tr>
           <td align="center">
           <b>{{ zone.phase.description }}</b>
           </td>
        </tr>
        <tr>
           <td align="center">
           Trend: <b>{{ zone.trends.description }}</b>
           </td>
        </tr> 
        <tr>
        <td>
        <TABLE id="floatLeft">
        <tr>
          <td align = "middle"><b>SECTORS</b></td>
        </tr>
        <TR>
        <TD>
       {% render_table pastoral1  %}
</TD>
</TR>
</TABLE>
</td>
</tr>
</table>
     {% endfor %}
    {% else %}
    <table>
    <tr>
      <td>No Pastoral Zone available.</td>
    </tr>
    </table>

     
  
    {% endif %} 

{% if agropastoral  %}
     {% for agrozone in agropastoral   %}
      
      <table id="inPopUp1">

      <tr>
       <td align="center"> <b>{{ agrozone.livelihoodzones.description }}</b>
       </td>
      </tr>
      <tr>
        <td align="middle">
           
            {% if agrozone.phase.description == "Normal" %}
              <img src="/static/images/normal.jpg">
              {% endif %}
            {% if agrozone.phase.description  == "Alert" %}
              <img src="/static/images/alert.jpg">
              {% endif %}
            {% if agrozone.phase.description == "Alarm" %}
              <img src="/static/images/alarm.jpg">
              {% endif %}
            {% if agrozone.phase.description == "Emergency" %}
              <img src="/static/images/emergency.jpg">
               {% endif %}
            {% if agrozone.phase.description == "Not specified" %}
              No phase specified
              <b>No phase specified</b>
               {% endif %}  
        </td> 
       </tr>
       <tr>
           <td align = "middle">
           <b>{{ agrozone.phase.description }}</b>
           </td>
        </tr>
        <tr>
           <td align = "middle">
           Trend: <b>{{ agrozone.trends.description }}</b>
           </td>
        </tr> 
         <tr>
        <td align = "left">
        <TABLE id="floatLeft">
        <tr>
          <td align = "middle"><b>SECTORS</b></td>
        </tr>
        <TR>
        <TD>
          {% render_table agropastoral1 %}
</td>
</tr>
</table>
</TD>
</TR>
</TABLE>
</td>
</tr>
      </table>

     {% endfor %}
    {% else %}
    <table>
    <tr>
      <td>No Agro pastoral zone available.</td>
    </tr>
    </table>
  
    {% endif %} 

    {% if agricultural  %}
     {% for zone in agricultural %}
      
      <table id="inPopUp2">

      <tr>
       <td align="center"> <b>{{ zone.livelihoodzones.description }}</b>
       </td>
      </tr>
      <tr>
        <td align="middle">
           
            {% if zone.phase.description == "Normal" %}
              <img src="/static/images/normal.jpg">
              {% endif %}
            {% if zone.phase.description  == "Alert" %}
              <img src="/static/images/alert.jpg">
              {% endif %}
            {% if zone.phase.description == "Alarm" %}
              <img src="/static/images/alarm.jpg">
              {% endif %}
            {% if zone.phase.description == "Emergency" %}
              <img src="/static/images/emergency.jpg">
               {% endif %}
            {% if zone.phase.description == "Not specified" %}
              No phase specified
              <b>No phase specified</b>
               {% endif %}  
        </td> 
       </tr>
       <tr>
           <td align = "middle">
           <b>{{ zone.phase.description }}</b>
           </td>
        </tr>
        <tr>
           <td align = "middle">
           Trend: <b>{{ zone.trends.description }}</b>
           </td>
        </tr> 
         <tr>
        <td align = "left">
        <TABLE id="floatLeft">
        <tr>
          <td align = "middle"><b>SECTORS</b></td>
        </tr>
        <TR>
        <TD>
        {% render_table agricultural1 %}
</td>
</tr>
</table>
</td>
</tr>

      </table>
</TD>
</TR>
</TABLE>
</td>
</tr>
       </table>

     {% endfor %}
    {% else %}
    <table>
    <tr>
      <td>No Agricultural Zone available.</td>
    </tr>
    </table>
  
    {% endif %} 



 </div>
 <div id="Report">
      <br><br> Get the full report:<a href="{{report.pdf.url}}"> {{ report.description}}</a>
 </div> 

 <div id="Back">
      <br><br><a href="/home/">Back to the Karamoja Map </a><br><br>   
 </div> 
     </div>

</div> 
<div style="clear: both;"><br><br><br><br><br><br></div>
      
{% endblock %}
  {% block footer %}
      
        {% endblock %}

 





