  {% extends "Karamoja/base.html" %}
  {% block content %}
<div class="container">
<div class="row">
<div align="center">	
 <h1>That's a fail<span frown> :(</span></h1>
            <p>   
	          <p>Sorry, but the page you were trying to view does not exist.</p>
	          <p>It looks like this was the result of either a mistyped address or an out-of-date link<br>
                      <h1>Clicking <a href="/">here</a> might help.</h1>
	          </p>
</div>
</div>
</div>
  {% endblock %}



